div {
	font-family: "Times New Roman", Times, serif;
}
#head{
	font-size: 25px;
	color: white;
}
#task input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
}

#detail textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=text]:focus {
    border: 3px solid #C1C1C0;
}

#bg {
	border-radius: 25px;
    background: #212929;
    padding: 20px; 
    width: 400px;
    height: 320px;
}
#butt {
	background-color: #FFC000; 
   	border: none;
    color: white;
   	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
#butt:hover {background-color: #E4B518}

#buttdel {
	background-color: #FA0808; 
   	border: none;
    color: white;
   	padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
#buttdel:hover {background-color: #AB3838}

#list{
	background: #212929;
	border: 3px solid white;
    color: white;
   	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    text-decoration-color: white;
}

body{
	background-image: url('http://static.tumblr.com/vy2pzfk/46zls6lto/deserve_bg.jpg');
    background-repeat: cover;
}

#title{
	font-size: 25px;
}
#des{
	font-size: 15px;
}